/problema1/Problema001/nbproject/private/
/problema1/Problema001/build/
/problema2/Problema002/nbproject/private/
/problema2/Problema002/build/
/problema3/Problema003/nbproject/private/
/problema3/Problema003/build/
/problema4/Problema004/nbproject/private/
/problema4/Problema004/build/
